<p style="color: green"><%= notice %></p>
<% if flash[:alert].present? %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>

<% content_for :title, "Articles" %>

<h1>Articles</h1>

<%= form_with url: articles_path, method: :get, local: true do |form| %>
  <div>
    <%= label_tag :search, "What are you looking for?" %>
    <%= text_field_tag :search, @presenter.search_query %>
  </div>

  <%= hidden_field_tag :type, @presenter.type %>

  <fieldset>
    <legend>Categories</legend>
    <% @presenter.categories.each do |parent, categories| %>
      <%= label_tag "categories_#{parent.id}", parent.name %>
      <div>
      <%= radio_button_tag "categories_#{parent.id}[]", "", @presenter.selected_categories.fetch(parent.id, []).empty?, id: "categories_#{parent.id}_all" %>
      <%= label_tag "categories_#{parent.id}_all", "All" %>
      </div>
      <% categories.each do |category| %>
        <div>
          <%= radio_button_tag "categories_#{parent.id}[]", category.id, @presenter.selected_categories.fetch(parent.id, []).include?(category.id), id: "categories_#{category.id}" %>
          <%= label_tag "categories_#{category.id}", category.name %>
        </div>
      <% end %>
    <% end %>
  </fieldset>

  <%= form.submit "Search" %>
<% end %>

<% if @presenter.no_articles? %>
  <p>No articles found.</p>
<% end %>

<div id="articles">
  <% @presenter.articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>

<% if @presenter.navigation_enabled? %>
  <nav class="pagination" aria-label="Articles pagination">
    <div class="pagination__controls">
      <% if @presenter.previous_page_enabled? %>
        <%= link_to "Previous",
              @presenter.previous_page_url,
              class: "pagination__button" %>
      <% end %>

      <%= form_with url: articles_path, method: :get, local: true, class: "pagination__page-form" do %>
        <%= hidden_field_tag :search, @presenter.search_query %>
        <%= hidden_field_tag :type, @presenter.type %>
        <% @presenter.selected_categories_params.each do |key, value| %>
          <% value.each do |v| %>
            <%= hidden_field_tag "#{key}[]", v %>
          <% end %>
        <% end %>

        <span class="pagination__current">
          <label for="page">Page</label>
          <%= number_field_tag :page,
                @presenter.page,
                min: 1,
                max: @presenter.total_pages,
                id: "page",
                class: "pagination__page-input",
                "aria-label": "Page number" %>
          <span>of <%= @presenter.total_pages %></span>
        </span>

        <%= submit_tag "Go", class: "pagination__button" %>
      <% end %>

      <% if @presenter.next_page_enabled? %>
        <%= link_to "Next",
              @presenter.next_page_url,
              class: "pagination__button" %>
      <% end %>
    </div>
  </nav>
<% end %>
